@model ProductManagementSystem_Assign2.Models.ViewModel.UserViewModel;
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="text-center">UsersList - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">

    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreateUser">
            Create User
        </button>
    </div>
    @if (Model != null && Model.Users.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Username</td>
                            <td>@item.EmailAddress</td>
                            <td>
                                @foreach (var role in Model.UserRoles[item.Id.ToString()])
                                {
                                    @role <br />
                                }
                            </td>
                            <td>
                                <form method="post"
                                      asp-action="Delete"
                                      asp-controller="SuperAdmin"
                                      asp-route-id="@item.Id">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-center">No Users Found!</p>
    }
</div>

<!-- Modal -->
<form method="post">
    <div class="modal fade" id="modalCreateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create New User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" asp-for="Username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" asp-for="Email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" asp-for="Password">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" value="User" checked disabled />
                            <label class="form-check-label" for="checkUserRole">User Role</label>
                        </div>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       asp-for="AdminRoleCheckbox" />
                                <label class="form-check-label" for="checkAdminRole">Admin Role</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts {
    @await Html.PartialAsync("_NotificationScript")
}